.rspec
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

## Environment normalisation:
/vendor/bundle

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Rails
.bundle
db/*.sqlite3
db/*.sqlite3-journal
*.log
log/production.log.*
tmp
tmp/**/*

# Documentation
doc/api
doc/app
.yardoc
.yardopts
coverage

# Public Uploads
#public/system/*
#public/themes/*

# Don't upload precompiled assets
pubic/assets/*

# Don't upload precompiled deface
app/compiled_views/*

# Public Cache
public/javascripts/cache
public/stylesheets/cache
public/refinery/*

# Vendor Cache
vendor/cache

# Acts as Indexed
index/**/*

# Refinery Specific
*.tmproj
*.autobackupbyrefinery.*
refinerycms-*.gem

# Mac
.DS_Store

# Windows
Thumbs.db

# NetBeans
nbproject

# Eclipse
.project

# Redcar
.redcar

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# E-texteditor
.eprj

# Backup
*~

# Capybara Bug
capybara-*html

# sass
.sass-cache
.sass-cache/*

#rvm
.rvmrc
.rvmrc.*

# vendor/extensions dummy applications.
vendor/extensions/**/spec/dummy


# sensitive data
config/database.yml
config/initializers/app_init.rb
config/initializers/devise.rb
config/initializers/secret_token.rb
config/secrets.yml
db/data.yml

# needed for migration
db/schema.rb

# test data
db/datadump/sessions.yml

# rvm files
.ruby-gemset
.ruby-version

# bundle cache
Gemfile.lock

# jQuery map file
jquery*.map
